*.block {
  -webkit-user-select: none;   
 -khtml-user-select: none;
 -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
 font-family: Verdana;
 text-align: center;
 padding: 0px;
 margin: 0px;
}

*.block.doc{ padding: 3px;}
*.block.green {color: #128c12; }
*.block.cyan {color: #007e8c; }
*.block.pink {color: #8c2a6e; }
*.block.orange {color: #8b6010; }
*.block.yellow {color: #8c7a15; }

*.cmd {
 position: absolute;
 width: 59px;
 padding: 0px;
 margin: 0px;
 top: 3px;
 left: 3px;
}

*.cmd h3 {
 position: relative;
 text-align: center;
 width: 59px;
 font-size: 11px;
 font-weight: normal;
 padding: 0px;
 margin: 12px 3px 3px;
 cursor: default;
 vertical-align: middle;
}

*.cmd.twolines h3 {
 margin: 8px 3px 3px;
 line-height: 100%;
}

*.cmd.bigone h3 {
 position: absolute;
 margin: 30px 3px 3px;
 line-height: 12px;
}

*.cmd.bigtwo h3 {
 position: absolute;
 margin: 27px 3px 3px;
 line-height: 100%;
}

*.cmd.twoargs h3 {
 position: absolute;
 margin: 30px 3px 3px;
}

*.cmd h4 {
 position: absolute;
 text-align: right;
 width: 56px;
 font-size: 9px;
 font-weight: normal;
 margin: 14px 3px 0px;
 cursor: default;
 vertical-align: middle;
}

*.cmd h5 {
 position: absolute;
 text-align: right;
 width: 56px;
 font-size: 9px;
 font-weight: normal;
 margin: 53px 3px 3px;
 cursor: default;
 vertical-align: middle;
/*  text-shadow: 0 1px #eee;*/
}

*.hat {
 position: absolute;
 width: 82px;
 padding: 0px;
 margin: 0px;
 top: 3px;
}

*.hat h3 {
 position: relative;
 text-align: center;
 width: 76px;
 font-size: 13px;
 font-weight: normal;
 color: #0;
 padding: 0px;
 margin: 22px 7px 3px;
 cursor: default;
 vertical-align: middle;
}

*.reporter {
 position: absolute;
 padding: 0px;
 width: 73px;
 height: 24px;
 top: 2px;
 left: 2px;
}

*.reporter img {
 position: absolute;
}

*.reporter h3 {
 position: relative;
 margin-left: 12px;
 margin-top: 12px;
 text-align: center;
 font-size: 13px;
 font-weight: normal;
 cursor: default;
 line-height: 0px;
 vertical-align: text-top;
}

*.local {
 position: absolute;
 padding: 0px;
 width: 50px;
 height: 24px;
 top: 2px;
 left: 2px;
}

*.local h3 {
 position: relative;
 margin-left: 12px;
 margin-top: 12px;
 text-align: center;
 font-size: 13px;
 font-weight: normal;
 cursor: default;
 line-height: 0px;
 vertical-align: text-top;
}

*.reporter.op {
 width: 40px;
 height: 33px;
}

*.reporter.op h3 {
 margin-left: 8px;
 margin-top: 17px;
 font-size: 18px;
}

*.reporter.random {
 margin-top: -3px;
 margin-left: 0px;
 width: 173px;
}

*.reporter.random h3 {
 font-size: 10px;
}

*.reporter.comp {
 margin-top: 5px;
 margin-left: 2px;
 width: 170px;
}

*.reporter.comp h3 { font-size: 16px;}

*.reporter.br {
 margin-top: 3px;
 margin-left: 1px;
 width: 35px;
}

*.reporter.br h3 {
 font-size: 20px;
}

