/* © 2017 Playful Invention Company */

.modal-backdrop {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  opacity: 0.4;
}

.modal-backdrop.fade {display: none;}

.modal-backdrop, .modal-backdrop.fade.in { display: block;}

/*dialog box */

.dialogbox {
  position: fixed;
  display: inline-block;
	word-spacing: -1;
  top: 5%;
  left: 5%;
  z-index: 11000;
 	width: 90%;
 	height: 90%;  
  margin: 0px;
  background-color: #fff;
	-webkit-border-radius: 6px;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
 display: none;
}

.dialogbox.fade {display: none; }

.dialogbox.fade.in { display: block; }

.dialogbox.fade.out {display: none;}

.svgstatus {
	position: absolute;
 	width: 700px;
 	height: 560px;
 	word-spacing: -1;
  background-color: #f0f0f0;
  border: 2px solid #d9d9d9;
  -webkit-box-shadow: 0 -2px -2px rgba(0, 0, 0, 0.3);
}

.svgimage {
	position: absolute;
 	width: 700px;
 	height: 560px;
 	background-color: #fafafa;
}

.closebox {
	position: absolute;
	top: 0px;
	right: 0px;
 	width: 32px;
 	height: 32px;
 	background: url('../assets/tac/close.svg') no-repeat left center;
 	z-index: 12000;
}

.svgpanel {
	position: absolute;
	display: inline-block;
	width: 210px;
	right:0;
	top:0;
	height: 100%;
	font-family: 'Avenir Next', 'Lucida Grande', 'Lucida Sans Unicode',  sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}

.paneltitle{
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

.svgbuttons{
	position: relative;
	display:  inline-block;
}

.svgbuttons.off{
	position: relative;
	display: none;
}

hr.divider {
	position: relative;
	display: block;
	margin: 5px 15px 5px;
  height: 2px;
  border: 0;
  box-shadow: inset 0 4px 4px -4px rgba(228, 203, 169, 0.9);
}

hr.divider.off {
	display: none;
}

.svgbuttons.centered{
	display: block;
	bottom: 0px;
	margin: 0 auto 0;
	width: 87px;
}

.svgbuttons.centered.off{
	display: none;
}

.imagebutton{
  position: relative;
  display: inline-block;
	word-spacing: -1;
 	width: 52px;
 	height: 60px;  
  margin: 2px;
  padding: 3px;
  margin-bottom: 10px;
  background-color: #fff;
 	cursor: pointer;
 	text-align: center;
}

.imagebutton.on{
	-webkit-border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: #fafafa;  
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.imagebutton.off{
	display: none;
}

*.imagebutton > p {	
	position: relative;
	margin: 0 auto 0;
  padding: 0px;
	width: 100%;
	height: 20px;
}

.imagechoice{
  position: relative;
  display: inline-block;
	word-spacing: -1;
 	width:  85%;
 	height: 40px;  
  margin: 5px;
  padding: 0px;
  margin-bottom: 10px;
  background-color: #fff;
 	cursor: pointer;
}

.imagechoice.on{
	 padding: 5px;
	-webkit-border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

*.imagechoice > p {	
	position: absolute;
	text-align: left;
	top: 0px;
	left: 62px;
  padding: 0px;
	width: auto;
	height: 40px;
	line-height: 20px;
}

*.numericform{
	position: relative;
	display: inline-block;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0px;
	padding-left: 5px;
  text-align: left; 
	height: 30px;
 	width: 100%;
 	outline: 0px;
  cursor: default;
  z-index: 12000;
}

 *.numericinput {
 	position: relative;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
  text-align: center;
  color:  #4f4f6d;
  font-family: Arial;
  font-size:  16px;
  vertical-align: middle;
  font-weight: normal;
	height: 30px;
 	width: 40px;
  cursor: default;
  outline: 0px;
  overflow: hidden;
  border: 1px solid #c0c2c3;
  -webkit-border-radius: 36px;
  line-height: 30px; 
  cursor: pointer;
}

 *.numericinput.select {
	border:2px solid #FFCA00;
	height: 28px;
 	width: 38px;
}


*.menuicon {
 	position: relative;
 	margin: 0;
 	padding: 0;
 	width: 50px;
	height: 40px;
}

*.menuicon.image {
	background: url('../assets/tac/image.svg') no-repeat left center;
}

*.menuicon.hairline {
	background: url('../assets/tac/hairline.svg') no-repeat left center;
}

*.menuicon.outline {
	background: url('../assets/tac/outline.svg') no-repeat left center;
}

*.menuicon.border {
	background: url('../assets/tac/border.svg') no-repeat left center;
}

*.menuicon.noborder {
	background: url('../assets/tac/noborder.svg') no-repeat left center;
}

*.menuicon.framed {
	background: url('../assets/tac/addframe.svg') no-repeat left center;
}

/*alert */

.alertdialog {
  position: fixed;
  	display: inline-block;
	word-spacing: -1;
  top: 30%;
  left: 30%;
  z-index: 11000;
 	width: 40%;
 	height: auto;  
  margin: 0px;
  background-color: #fff;
	-webkit-border-radius: 6px;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
 	display: none;
}

.alertdialog.fade  {display: none;}

.alertdialog.fade.in {display: block;}

.alertdialog.fade.out {display: none;}

*.alertmessage {
	position: relative;
	width: 95%;
	height: 58%;
	padding: 2%; 
	margin: 0px;
	text-align: left;
  font-weight: normal; 
  font-size: 16px;
  color:  #4f4f6d;
}

*.alertactions {
	position: relative;
	bottom: 0px;
	height: 44px;
	width: 100%;
	border-top: 1px solid  rgba(0,0, 0, 0.1);
}

*.buttons {
	position: absolute;
	float: right;
	right: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	width: 200px;
	height: 44px;
}

*.button {
	display: inline-block;
	word-spacing: -1;
	position: relative;
	top: 0px;
	width: 85px;
	height: 32px;
	padding: 0px;
	margin: 5px;
	font-family: 'Avenir Next', 'Lucida Grande', 'Lucida Sans Unicode',  sans-serif;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	color: #4f4f6d;
	cursor: pointer;
	border: 1px solid  rgba(0,0, 0, 0);
	-webkit-border-radius: 6px;
}

*.button.hidden{
	display: none;
}

*.buttonhidden{
	display: inline-block;
	word-spacing: -1;
	position: relative;
	top: 0px;
	width: 85px;
	height: 32px;
	padding: 0px;
	margin: 0px 2px 0px;
	font-size: 14px;
	line-height: 32px;
	cursor: pointer;
	-webkit-border-radius: 6px;
}

*.button.on {
	position: relative;
	bottom: 0%;
	border: 1px solid  rgba(0,0, 0, 0.1);
	background: #ffaa00;
	color: #fff;
}

*.button.centered {
	margin: 0 auto 0;
	border: 1px solid  rgba(0,0, 0, 0.1);
	background: #ffaa00;
	color: #fff;
}

*.button:hover{
	border: 1px solid  rgba(0,0, 0, 0.1);
	background: #ffaa00;
	color: #fff;
}

/*PDF */

.pdfwrapper {
  position: fixed;
  display: inline-block;
	word-spacing: -1;
  z-index: 11000;
  top: 5%;
  left: 5%;
  z-index: 11000;
 	width: 90%;
 	height: 90%;  
  background-color: #fff;
	-webkit-border-radius: 6px;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
 	 display: none;
}

.pdfwrapper.fade {
   display: none;
}

.pdfwrapper.fade.in {
  top: 10%;
   display: block;
}

.pdfwrapper.fade.out {
  display: none;
}


/* Saving Icon */

*.loader {
 	position: relative;
	width: 128px;
	height: 128px;
	margin: 0 auto 0;
	top: 152px;
	margin-top: 40px;
	z-index: 12000;
}

*.loader.on{
	display: block;
  -webkit-transform: translateZ(0);
  -webkit-animation: changeshapes 1.1s infinite linear;
  background: url('../assets/tac/turtles/step0.svg') no-repeat center center;
}

*.loader.off {
	display: none;
	-webkit-animation: none;
}

@-webkit-keyframes changeshapes {
   0% {background: url('../assets/tac/turtles/step1.svg') no-repeat center center;}
  16% {background: url('../assets/tac/turtles/step2.svg') no-repeat center center;}
  34% {background: url('../assets/tac/turtles/step3.svg') no-repeat center center;}
  52% {background: url('../assets/tac/turtles/step4.svg') no-repeat center center;}
  68% {background: url('../assets/tac/turtles/step5.svg') no-repeat center center;}
  84% {background: url('../assets/tac/turtles/step6.svg') no-repeat center center;}
  100% {background: url('../assets/tac/turtles/step1.svg') no-repeat center center;}
}




