# redirect to https
RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ignoring .git folder
RewriteRule ^(?:.git)\b.* - [R=404]

# prevent from listing directories
Options -Indexes
IndexIgnore *

<ifModule mod_headers.c>
Header set Cache-Control "no-cache"
</ifModule>

AddType application/wasm data wasm