<h1 role="toolbar" class="dialog-header">
	<button type="button" title="Закрити" class="closeButton">
		<svg role="img">
			<title>Закрити</title>
			<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	Допомога від Ти-маляр!
</h1>
<table>
	<tr>
		<td colspan="2">
			<img src="images/toolbar_overview.png" alt="screenshot of the PaintZ toolbar with the drawing tools, tool settings, color palette, and help icon highlighted." style="display: block; width: 100%;" />
		</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">Дії з документом</th>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок очистити</title>
				<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
			</svg>
		</td>
		<td>
			Очистити полотно і розпочати малювати знову.
			<br />
			Скоротка: <kbd>Ctrl</kbd>+<kbd>N</kbd> (тільки у окремому вікні)
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок відкрити</title>
				<use xlink:href="images/icons/open.svg#icon" href="images/icons/open.svg#icon"></use>
			</svg>
		</td>
		<td>
			Відкрити новий малюнок для редагування.
			<br />
			Скоротка: <kbd>Ctrl</kbd>+<kbd>O</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок зберегти</title>
				<use xlink:href="images/icons/save.svg#icon" href="images/icons/save.svg#icon"></use>
			</svg>
		</td>
		<td>
			Зберегти створений малюнок у комп'ютері.
			<br />
			Скоротка: <kbd>Ctrl</kbd>+<kbd>S</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок друку</title>
				<use xlink:href="images/icons/print.svg#icon" href="images/icons/print.svg#icon"></use>
			</svg>
		</td>
		<td>
			Роздрукувати свій малюнок. Можливо, вам знадобиться налаштувати поля або масштаб у попередньому перегляду друку системи.
			<br />
			Скоротка: <kbd>Ctrl</kbd>+<kbd>P</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок скасування</title>
				<use xlink:href="images/icons/undo.svg#icon" href="images/icons/undo.svg#icon"></use>
			</svg>
		</td>
		<td>
			Скасувати останню дію малювання.
			<br />
			Скоротка: <kbd>Ctrl</kbd>+<kbd>Z</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок повернути</title>
				<use xlink:href="images/icons/redo.svg#icon" href="images/icons/redo.svg#icon"></use>
			</svg>
		</td>
		<td>
			Повернути останню скасовану дію.
			<br />
			Скоротка: <kbd>Ctrl</kbd>+<kbd>Y</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок зміни розміру</title>
				<use xlink:href="images/icons/resize.svg#icon" href="images/icons/resize.svg#icon"></use>
			</svg>
		</td>
		<td>
			Збільшити або зменшити розмір полотна або обрізати чи масштабувати малюнок.
			<br />
			Скоротка: <kbd>Ctrl</kbd>+<kbd>E</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок вставки</title>
				<use xlink:href="images/icons/paste.svg#icon" href="images/icons/paste.svg#icon"></use>
			</svg>
		</td>
		<td>
			Вставити копійований малюнок.  Alt-click щоб &ldquo;вставити з&rdquo; файлу.
			<br />
			Скоротка: <kbd>Ctrl</kbd>+<kbd>V</kbd>
		</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">
			Інструменти
		</th>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок олівця</title>
				<use xlink:href="images/icons/pencil.svg#icon" href="images/icons/pencil.svg#icon"></use>
			</svg>
		</td>
		<td>
			Малювати окремі пікселі поточним кольором лінії. Клацніть правою кнопкою миші, щоб використати поточний колір заповнення.
			<br />
			Скоротка: <kbd>P</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок пензля</title>
				<use xlink:href="images/icons/brush.svg#icon" href="images/icons/brush.svg#icon"></use>
			</svg>
		</td>
		<td>
			Малювати довільні фігури поточним кольором лінії. Клацніть правою кнопкою миші, щоб використати поточний колір заповнення.
			<br />
			Скоротка: <kbd>B</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок аерографу</title>
				<use xlink:href="images/icons/airbrush.svg#icon" href="images/icons/airbrush.svg#icon"></use>
			</svg>
		</td>
		<td>
			Розбризкувати фарбу поточного кольору лінії. Клацніть правою кнопкою миші, щоб використати поточний колір заповнення.
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок лінії</title>
				<use xlink:href="images/icons/line.svg#icon" href="images/icons/line.svg#icon"></use>
			</svg>
		</td>
		<td>
			Малювати лінії поточним кольором. Клацніть правою кнопкою миші, щоб використати поточний колір заповнення.
			<br />
			Скоротка: <kbd>L</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок кривої</title>
				<use xlink:href="images/icons/curve.svg#icon" href="images/icons/curve.svg#icon"></use>
			</svg>
		</td>
		<td>
			Малювати лінію поточним кольором, потім перетворити її на криву. Клацніть правою кнопкою миші, щоб використати поточний колір заповнення.
			<br />
			Скоротка: <kbd>C</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок прямокутника</title>
				<use xlink:href="images/icons/rect.svg#icon" href="images/icons/rect.svg#icon"></use>
			</svg>
		</td>
		<td>
			Малювати прямокутник. Клацніть правою кнопкою миші, щоб поміняти місцями кольори лінії та заповнення.
			<br />
			Скоротка: <kbd>R</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок овалу</title>
				<use xlink:href="images/icons/oval.svg#icon" href="images/icons/oval.svg#icon"></use>
			</svg>
		</td>
		<td>
			Малювати овал. Клацніть правою кнопкою миші, щоб поміняти місцями кольори лінії та заповнення.
			<br />
			Скоротка: <kbd>O</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок багатокутника</title>
				<use xlink:href="images/icons/polygon.svg#icon" href="images/icons/polygon.svg#icon"></use>
			</svg>
		</td>
		<td>
			Малювати лінію, потім додати додаткові лінії, щоб створити багатокутник. Двічі клацніть або виберіть початкову точку, щоб закрити його. Клацніть правою кнопкою миші, щоб поміняти місцями кольори лінії та заповнення.
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок округленого прямокутника</title>
				<use xlink:href="images/icons/rounded_rect.svg#icon" href="images/icons/rounded_rect.svg#icon"></use>
			</svg>
		</td>
		<td>
			Малювати округлений прямокутник. Клацніть правою кнопкою миші, щоб поміняти місцями кольори лінії та заповнення.
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок руки</title>
				<use xlink:href="images/icons/pan.svg#icon" href="images/icons/pan.svg#icon"></use>
			</svg>
		</td>
		<td>
			Захопіть малюнок, клацніть і перетягуйте його.
			<br />
			Скоротка: <kbd>H</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок вибору</title>
				<use xlink:href="images/icons/select.svg#icon" href="images/icons/select.svg#icon"></use>
			</svg>
		</td>
		<td>
			Виберіть прямокутну частину малюнка для переміщення (клацніть і перетягніть), дублюйте (<kbd>Ctrl</kbd>+<kbd>D</kbd>), або вилучайте (<kbd>Delete</kbd> або <kbd>Backspace</kbd>).
			<br />
			Скоротка: <kbd>S</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок довільного вибору</title>
				<use xlink:href="images/icons/freeform_select.svg#icon" href="images/icons/freeform_select.svg#icon"></use>
			</svg>
		</td>
		<td>
			Намалюйте фігуру, щоб вибрати ту частину малюнка, яку потрібно перемістити (клацніть і перетягніть), дублюйте (<kbd>Ctrl</kbd>+<kbd>D</kbd>), або вилучайте (<kbd>Delete</kbd> або <kbd>Backspace</kbd>).
			<br />
			Скоротка: <kbd>F</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок стирачки</title>
				<use xlink:href="images/icons/eraser.svg#icon" href="images/icons/eraser.svg#icon"></use>
			</svg>
		</td>
		<td>
			Зітріть будь-яку частину вашого малюнка, використавши колір заповнення. Клацніть правою кнопкою миші, щоб використати поточний колір лінії.
			<br />
			Скоротка: <kbd>E</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок заповнення</title>
				<use xlink:href="images/icons/paint_bucket.svg#icon" href="images/icons/paint_bucket.svg#icon"></use>
			</svg>
		</td>
		<td>
			Заповнити контур поточним кольором лінії. Клацніть правою кнопкою миші, щоб використати колір заповнення.
			<br />
			Скоротка: <kbd>K</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок піпетки</title>
				<use xlink:href="images/icons/eyedropper.svg#icon" href="images/icons/eyedropper.svg#icon"></use>
			</svg>
		</td>
		<td>
			Виберіть колір на малюнку, щоб використовувати його як колір лінії. Клацніть правою кнопкою миші, щоб вибрати колір заповнення.
			<br />
			Скоротка: <kbd>I</kbd>
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок тексту</title>
				<use xlink:href="images/icons/text.svg#icon" href="images/icons/text.svg#icon"></use>
			</svg>
		</td>
		<td>
			Додати текст до вашого малюнка поточним кольором лінії.
			<br />
			Скоротка: <kbd>T</kbd>
		</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr>
		<th colspan="2">
			Додаткові дії
		</th>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок повного екрану</title>
				<use xlink:href="images/icons/full_screen.svg#icon" href="images/icons/full_screen.svg#icon"></use>
			</svg>
		</td>
		<td>
			Показати малюнок на повний екран.
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок налаштувань</title>
				<use xlink:href="images/icons/settings.svg#icon" href="images/icons/settings.svg#icon"></use>
			</svg>
		</td>
		<td>
			Налаштування програми користувачем.
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок інформації</title>
				<use xlink:href="images/icons/info.svg#icon" href="images/icons/info.svg#icon"></use>
			</svg>
		</td>
		<td>
			Перегляд інформації про Ти-маляр!.
		</td>
	</tr>
	<tr>
		<td>
			<svg role="img" class="helpIcon">
				<title>значок допомоги</title>
				<use xlink:href="images/icons/help.svg#icon" href="images/icons/help.svg#icon"></use>
			</svg>
		</td>
		<td>
			Відкрити цю сторінку допомоги.
		</td>
	</tr>
</table>
<div class="dialog-footer">
	<button type="submit">Закрити</button>
</div>
