<h1 role="toolbar" class="dialog-header">
	<button type="button" title="Close" class="closeButton">
		<svg role="img">
			<title>Закрити</title>
			<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	Вітаємо у програмі Ти-маляр!
</h1>
<img src="images/toolbar_overview.png" alt="screenshot of the PaintZ toolbar with the drawing tools, tool settings, color pallette, and help icon highlighted." style="display: block; width: 100%;" />
<p>
	Оберіть пензель
	<svg role="img" class="helpIcon welcomeIcon">
		<title>значок пензля</title>
		<use xlink:href="images/icons/brush.svg#icon" href="images/icons/brush.svg#icon"></use>
	</svg>
	і починайте малювати!
</p>
<p>
	Скористайтесь кнопками набору інструментів малювання, щоб обрати потрібний, та палітрою кольорів для вибору кольору.
</p>
<p>
	Тицьніть
	<svg role="img" class="helpIcon welcomeIcon">
		<title>значок допомоги</title>
		<use xlink:href="images/icons/help.svg#icon" href="images/icons/help.svg#icon"></use>
	</svg>
	кнопку, щоб отримати більше інформації про інструменти малювання.
</p>
<p class="small" style="margin-bottom: 0.25em; /* Less space before the footer since it only has one button and this paragraph is small. */">
	Ти-маляр використовує Google Analytics для відстежування відвідування і не збирає жодної персональної інформації.  Щоб дізнатись більше, перегляньте <a href="/privacy" target="_blank">Приватність</a>.
</p>
<div class="dialog-footer">
	<button type="submit">Розпочнемо</button>
</div>
