<button id="fullScreenBtn" title="У повний екран">
	<svg role="img">
		<use xlink:href="images/icons/full_screen.svg#icon" href="images/icons/full_screen.svg#icon"></use>
	</svg>
</button><!--
--><button id="aboutBtn" title="Про програму">
	<svg role="img">
		<use xlink:href="images/icons/info.svg#icon" href="images/icons/info.svg#icon"></use>
	</svg>
</button><!--
--><br /><!--
--><button id="settingsBtn" title="Налаштування">
	<svg role="img">
		<use xlink:href="images/icons/settings.svg#icon" href="images/icons/settings.svg#icon"></use>
	</svg>
</button><!--
--><button id="helpBtn" title="Допомога">
	<svg role="img">
		<use xlink:href="images/icons/help.svg#icon" href="images/icons/help.svg#icon"></use>
	</svg>
</button>
