<button id="deselectBtn" title="Скасувати (Esc)">
	<svg role="img">
		<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
	</svg>
</button><!--
--><button id="deleteBtn" title="Вилучити (Del)">
	<svg role="img">
		<use xlink:href="images/icons/eraser.svg#icon" href="images/icons/eraser.svg#icon"></use>
	</svg>
</button><!--
--><button id="cutBtn" title="Вирізати (Ctrl+X)">
	<svg role="img">
		<use xlink:href="images/icons/cut.svg#icon" href="images/icons/cut.svg#icon"></use>
	</svg>
</button><!--
--><button id="copyBtn" title="Копіювати (Ctrl+C)">
	<svg role="img">
		<use xlink:href="images/icons/copy.svg#icon" href="images/icons/copy.svg#icon"></use>
	</svg>
</button><!--
--><button id="duplicateBtn" title="Дублювати (Ctrl+D)">
	<svg role="img">
		<use xlink:href="images/icons/duplicate.svg#icon" href="images/icons/duplicate.svg#icon"></use>
	</svg>
</button><!--
--><button id="cropBtn" title="Обрізати">
	<svg role="img">
		<use xlink:href="images/icons/crop.svg#icon" href="images/icons/crop.svg#icon"></use>
	</svg>
</button>
