<button id="rotCCWBtn" title="Поворот на 90&deg; за годинниковою стрілкою">
	<svg role="img">
		<use xlink:href="images/icons/rotate.svg#icon" href="images/icons/rotate.svg#icon"></use>
	</svg>
</button><!--
--><button id="rotCWBtn" title="Поворот на 90&deg; проти годинникової стрілки">
	<svg role="img" style="-webkit-transform: scaleX(-1); -moz-transform: scaleX(-1); -ms-transform: scaleX(-1); -o-transform: scaleX(-1); transform: scaleX(-1);">
		<use xlink:href="images/icons/rotate.svg#icon" href="images/icons/rotate.svg#icon"></use>
	</svg>
</button><!--
--><input type="radio" name="transparentSelecton" id="transparentSelectionOn" /><!--
--><label role="button" for="transparentSelectionOn" title="Вибір з прозорістю"><!--
	--><svg role="img">
		<use xlink:href="images/icons/selection_transparent.svg#icon" href="images/icons/selection_transparent.svg#icon"></use>
	</svg><!--
--></label><!--
--><input type="radio" name="transparentSelecton" id="transparentSelectionOff" /><!--
--><label role="button" for="transparentSelectionOff" title="Вибір з тлом"><!--
	--><svg role="img">
		<use xlink:href="images/icons/selection_opaque.svg#icon" href="images/icons/selection_opaque.svg#icon"></use>
	</svg><!--
--></label><!--
--><br /><!--
--><button id="flipHorizBtn" title="Горизонтальне дзеркало">
	<svg role="img">
		<use xlink:href="images/icons/flip.svg#icon" href="images/icons/flip.svg#icon"></use>
	</svg>
</button><!--
--><button id="flipVertBtn" title="Вертикальне дзеркало">
	<svg role="img" style="-webkit-transform: rotateZ(90deg); -moz-transform: rotateZ(90deg); -ms-transform: rotateZ(90deg); -o-transform: rotateZ(90deg); transform: rotateZ(90deg);">
		<use xlink:href="images/icons/flip.svg#icon" href="images/icons/flip.svg#icon"></use>
	</svg>
</button><!--
--><button id="invertColorsBtn" title="Інвертувати кольори (Ctrl+I)">
	<svg role="img">
		<use xlink:href="images/icons/invert_colors.svg#icon" href="images/icons/invert_colors.svg#icon"></use>
	</svg>
</button><!--
--><button id="selectAllBtn" title="Обрати все (Ctrl+A)">
	<svg role="img">
		<use xlink:href="images/icons/select_all.svg#icon" href="images/icons/select_all.svg#icon"></use>
	</svg>
</button>
