<form id="tools">
	<input type="radio" name="tool" value="selection" id="selectionTool" /><!--
	--><label role="button" for="selectionTool" title="Вибір (S)">
		<svg role="img">
			<use xlink:href="images/icons/select.svg#icon" href="images/icons/select.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="eraser" id="eraserTool" /><!--
	--><label role="button" for="eraserTool" title="Стирачка (E)">
		<svg role="img">
			<use xlink:href="images/icons/eraser.svg#icon" href="images/icons/eraser.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="eyedropper" id="eyedropperTool" /><!--
	--><label role="button" for="eyedropperTool" title="Взяти колір (I)">
		<svg role="img">
			<use xlink:href="images/icons/eyedropper.svg#icon" href="images/icons/eyedropper.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="pencil" id="pencilTool" /><!--
	--><label role="button" for="pencilTool" title="Олівець (P)">
		<svg role="img">
			<use xlink:href="images/icons/pencil.svg#icon" href="images/icons/pencil.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="airbrush" id="airbrushTool" /><!--
	--><label role="button" for="airbrushTool" title="Аерограф">
		<svg role="img">
			<use xlink:href="images/icons/airbrush.svg#icon" href="images/icons/airbrush.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="line" id="lineTool" /><!--
	--><label role="button" for="lineTool" title="Лінія (L)">
		<svg role="img">
			<use xlink:href="images/icons/line.svg#icon" href="images/icons/line.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="rect" id="rectTool" /><!--
	--><label role="button" for="rectTool" title="Прямокутник (R)">
		<svg role="img">
			<use xlink:href="images/icons/rect.svg#icon" href="images/icons/rect.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="oval" id="ovalTool" /><!--
	--><label role="button" for="ovalTool" title="Овал (O)">
		<svg role="img">
			<use xlink:href="images/icons/oval.svg#icon" href="images/icons/oval.svg#icon"></use>
		</svg>
	</label><!--
	--><br /><!--
	--><input type="radio" name="tool" value="freeformSelection" id="freeformSelectionTool" /><!--
	--><label role="button" for="freeformSelectionTool" title="Вільний вибір (F)">
		<svg role="img">
			<use xlink:href="images/icons/freeform_select.svg#icon" href="images/icons/freeform_select.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="floodFill" id="floodFillTool" /><!--
	--><label role="button" for="floodFillTool" title="Заповнення (K)">
		<svg role="img">
			<use xlink:href="images/icons/paint_bucket.svg#icon" href="images/icons/paint_bucket.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="pan" id="panTool" /><!--
	--><label role="button" for="panTool" title="Рука (H)">
		<svg role="img">
			<use xlink:href="images/icons/pan.svg#icon" href="images/icons/pan.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="doodle" id="doodleTool" /><!--
	--><label role="button" for="doodleTool" title="Пензель (B)">
		<svg role="img">
			<use xlink:href="images/icons/brush.svg#icon" href="images/icons/brush.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="text" id="textTool" /><!--
	--><label role="button" for="textTool" title="Текст (T)">
		<svg role="img">
			<use xlink:href="images/icons/text.svg#icon" href="images/icons/text.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="curve" id="curveTool" /><!--
	--><label role="button" for="curveTool" title="Крива (C)">
		<svg role="img">
			<use xlink:href="images/icons/curve.svg#icon" href="images/icons/curve.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="polygon" id="polygonTool" /><!--
	--><label role="button" for="polygonTool" title="Багатокутник">
		<svg role="img">
			<use xlink:href="images/icons/polygon.svg#icon" href="images/icons/polygon.svg#icon"></use>
		</svg>
	</label><!--
	--><input type="radio" name="tool" value="roundRect" id="roundRectTool" disabled="disabled" /><!--
	--><label role="button" for="roundRectTool" title="Закруглений прямокутник">
		<svg role="img">
			<use xlink:href="images/icons/rounded_rect.svg#icon" href="images/icons/rounded_rect.svg#icon"></use>
		</svg>
	</label>
</form>
